{{ define "main" }}
  <article>
    <!-- Posts Header -->
    <h2 class="posts-header">Posts</h2>
    
    <!-- Post List -->
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" . "name" "calendar") }}
            {{ .Date.Format "Jan 2, 2006" }}
            <span class="posts-list-item-separator">-</span>
            {{ partial "icon.html" (dict "ctx" . "name" "clock") }}
            {{ .ReadingTime }} min read
          </span>
        </li>
      {{ end }}
    </ul>

    {{ partial "pagination.html" . }}
  </article>
{{ end }}